header {
    width: 30;
}

p {
    width: 24;
    color: aqua;
    font-size: 30%;
    font-family: ;
}

body {
    width: 30;
    color:aquamarine;
    margin: auto
};
    

background-color
:root
.class
width
font-size
font-family
text-align